<p class="mb-5">
 Found <%= pluralize(@models.count, 'Model') %>  found when searching for: <%= params[:keywords] %>
</p>

<ul>
  <% @models.each do |model| %>
    <% modelYear =  model.year.year.to_s + " " + model.name %>
    <li><%= link_to modelYear, model %></li>
  <% end %>
</ul>